body {
  background-color: #6E3CBC;
  height: 100vh;
}
h1 {
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", cursive;
  font-size: 5rem;
}
h3 {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 15%;
  left: 30%;
  color: #fff;
}
h5 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
}
#results {
  position: relative;
  font-family: monospace;
  width: 90%;
  text-align: center;
  margin: 2% auto;
}
.header {
  position: relative;
  top: 1%;
}
#sectionOne {
  background-color: #fff8f3;
  height: 70vh;
  border: solid 1px #fff;
  border-radius: 10px;
}
#title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
#dice-section {
  position: relative;
  background-color: rgba(212, 212, 212, 0);
  text-align: center;
  padding: 3%;
  margin: auto;
  width: 90%;
}

.dice {
  width: 200px;
  height: 200px;
  display: inline-block;
  border-radius: 20px;
  padding: 10px;
  margin: 1% 5% 3%;
  transition: all 2s;
}
.dice-one {
  background-color: #009DAE;
}
.dice-two {
  background-color: #dd4a48;
}

.ran-num {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: relative;
  margin: 5%;
  border-radius: 50%;
  display: inline-block;
}
.ctg-one-dc1 {
  position: relative;
  top: 25px;
}
.ctg-two-dc1 {
  position: relative;
  top: 25px;
}
.ctg-three-dc1 {
  position: relative;
  top: 25px;
}
.ctg-four-dc1 {
  position: relative;
  top: 60px;
}
.ctg-five-dc1 {
  position: relative;
  top: 60px;
}
.ctg-six-dc1 {
  position: relative;
  top: 60px;
}
.ctg-mid-dc1 {
  position: relative;
  top: -55px;
  visibility: hidden;
}

/*============== DICE TWO==================== */
.ctg-one-dc2 {
  position: relative;
  top: 25px;
}
.ctg-two-dc2 {
  position: relative;
  top: 25px;
}
.ctg-three-dc2 {
  position: relative;
  top: 25px;
}
.ctg-four-dc2 {
  position: relative;
  top: 60px;
}
.ctg-five-dc2 {
  position: relative;
  top: 60px;
}
.ctg-six-dc2 {
  position: relative;
  top: 60px;
}
.ctg-mid-dc2 {
  position: relative;
  top: -55px;
  visibility: hidden;
}

/* ============================ */

/* =========BUTTON============ */

#refresh {
  text-align: center;
  margin-top: 3%;
  background-color: #bfd1da00;
}
#btn {
  background-color: #B983FF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;
  color: #000000;
  font-family: "Bebas Neue", cursive;
  font-size: 1.5rem;
  font-weight: 200;
  padding: 20px;
  border-style: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

#btn:hover {
  backgroung-color:#94B3FD;

  text-decoration: none;
}
/* ======== TOGGLE============ */
.toggle {
  visibility: hidden;
  /* background-color:#fff; */
}
.toggleMid {
  /* background-color: #fff; */
  visibility: visible;
}
footer {
  padding: 0.5rem;
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
/* FOOTER */
.footer-link {
  width: 30px;
  height: 30px;
  background-size: cover;
}
.footer-link:hover {
  color: #00eaff;
}
.copyright {
  margin-top: 15px;
  color: rgb(95, 95, 95);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.bgColor {
  position: relative;
  visibility: hidden;
}
/* ==============media starts here============= */
@media screen and (max-width: 600px) {
    .colorBg1 {
    border: none;
    background-color: #ffccd2;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .colorBg2 {
    border: none;
    background-color: #66806A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .colorBg3 {
    border: none;
    background-color: #009DAE;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
.bgColor {
  position: relative;
  visibility: visible;
}

  .dice {
    width: 100px;
    height: 100px;

    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    margin: 20% 5% 3%;
    transition: all 2s;
  }
  .ran-num {
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    margin: 5%;
    border-radius: 50%;
    display: inline-block;
  }

  .ctg-one-dc1 {
    position: relative;
    top: 15px;
  }
  .ctg-two-dc1 {
    position: relative;
    top: 15px;
  }
  .ctg-three-dc1 {
    position: relative;
    top: 15px;
  }
  .ctg-four-dc1 {
    position: relative;
    top: 30px;
  }
  .ctg-five-dc1 {
    position: relative;
    top: 30px;
  }
  .ctg-six-dc1 {
    position: relative;
    top: 30px;
  }
  .ctg-mid-dc1 {
    position: relative;
    top: -28.5px;
    /* background-color: #003a86; */
    visibility: hidden;
  }

  /*============== DICE TWO==================== */
  .ctg-one-dc2 {
    position: relative;
    top: 15px;
  }
  .ctg-two-dc2 {
    position: relative;
    top: 15px;
  }
  .ctg-three-dc2 {
    position: relative;
    top: 15px;
  }
  .ctg-four-dc2 {
    position: relative;
    top: 30px;
  }
  .ctg-five-dc2 {
    position: relative;
    top: 30px;
  }
  .ctg-six-dc2 {
    position: relative;
    top: 30px;
  }
  .ctg-mid-dc2 {
    position: relative;
    top: -29.5px;
    /* background-color: #003a86; */
    visibility: hidden;
  }

  .toggle {
    visibility: hidden;
    /* background-color:#fff; */
  }
  .toggleMid {
    /* background-color: #fff; */
    visibility: visible;
  }

  #btn {
    background-color: #B983FF;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    width: 90px;
    height: 90px;
  }

  #refresh {
    position: relative;
    top: 3rem;
  }

  #btn:hover {
    border: solid #ffffff 1px;
    background: #8d6ad1;
  }
  footer {
    color: #fff;
    text-align: center;
   font-family: 'Roboto Mono', monospace;
  }

  /* FOOTER */
  .footer-link {
    padding: 0.5rem;
    width: 20px;
    height: 20px;
    background-size: cover;
  }
  .footer-link:hover {
    color: #00eaff;
  }
  .copyright {
    margin-top: 15px;
    color: rgb(95, 95, 95);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
  #dice-section {
    position: relative;

    background-color: rgba(212, 212, 212, 0);
    text-align: center;
    padding: 3%;
    margin-top: 10%;
    width: 90%;
  }
  #sectionOne {
    background-color: #fff8f3;
    height: 65vh;
    border: solid 1px #fff;
    border-radius: 10px;
  }
}


